@model OrderManagementSystem.Data.Models.Inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initial_QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initial_QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
