@model IEnumerable<OrderManagementSystem.UI.ViewModels.Inventory.InventoryIndexMV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (@Html.BeginForm())
    {
        <b>Product:</b>
        @Html.TextBox("searchTerm", null, new {id = "txtSearch"})
        <input type="submit" value="Search"/>
    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialQTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafetyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQuantity)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialQTY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SafetyLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentQuantity)

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.InventoryId}) |
                    @Html.ActionLink("Details", "Details", new {id = item.InventoryId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.InventoryId})
                </td>
            </tr>
        }

    </table>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>


    <script>
        $(function() {
            $("#txtSearch")
                .autocomplete({
                    source: '@Url.Action("GetProductByName")'
                });
        });


    </script>
}